@import "_action-button";
@import "_action-button";
@import "_text-margin";
@import "_button";

img {
  max-width: 140px;
  border-radius: 50%;
}

h3 {
  margin: 0 auto;
}

ion-content {
  max-width: 100vw;
}

div.ion-padding-top {
  background-color: white;
  padding: 2rem 4rem 2rem;
  width: 50vw;
}

.fxlayout-support {
  width: 100vw;
  height: 150vh;
  background-size: cover;
  background-image: url("../../../assets/img/bg/bg-6.jpg");
  align-items: flex-start;
}
ion-button {
  max-width: 200px;
  margin: 0 auto;
}

label {
  border: none;
}
#description-info {
  text-align: center;
}
.start-text {
  font-style: italic;
  font-style: underline;
  text-align: left;
}

i.fa-camera {
  padding-left: 6% !important;
}

.span-info {
  float: right;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

p {
  text-align: left;
}

.cancel-icon {
  color: crimson;
  cursor: pointer;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

h3 {
  margin: 5vh auto 5vh;
}

a.btn {
  font-size: 0.625rem;
  width: 10rem;
}
h4 {
  height: 10vh;
}
