<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inbox">Back</ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="reloadItems($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card class="speaker-card">
    <ion-card-header>
      <ion-item detail="false" lines="none" class="friend-item">

        <ion-item id="h5-item" lines="none" fxLayout="column" fxLayoutAlign="center center">
          <h5>{{otherEmail}}</h5>
        </ion-item>
      </ion-item>
      <ion-item lines="none">
        <ion-button shape="round" fill="outline" color="warning" (click)="sendMessage()">
          Message
        </ion-button>
      </ion-item>
      <ng-container *ngFor="let message of messagingStateService.messages$ | async; trackBy: messagingTrackFn">
        <div class="container">
          <ion-item lines="none">
            <ng-container *ngIf="message.messages.sender===authService.authState.email">
              <div class="chat-bubble">
                <p class="over-flow chat-message">
                  <i>{{message.messages.date | date}}</i>
                  <br>
                  {{message.messages.message}}
                </p>
              </div>
            </ng-container>
            <ng-container *ngIf="message.messages.sender===otherEmail">
              <div class="chat-bubble mine">
                <p class="over-flow chat-message">
                  <i>{{message.messages.date| date}}</i>
                  <br>
                  {{message.messages.message}}
                </p>
              </div>
            </ng-container>
          </ion-item>
        </div>
      </ng-container>

    </ion-card-header>
  </ion-card>

</ion-content>