<section>
  <mat-form-field>
    <mat-icon matPrefix id="search-icon">search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container *ngFor="let col of columnObjects" [matColumnDef]="col.columnId">
      <th id="tableHeader" mat-header-cell *matHeaderCellDef>{{col.columnId}} </th>
      <td mat-cell *matCellDef="let dataArray; let i = index;">

        <ng-container *ngIf="col.columnId==='Date'">
          {{dataArray[col.propertyName] | date: 'short'}}
        </ng-container>

        <ng-container *ngIf="col.columnId==='Name'">
          {{dataArray[col.propertyName]}}
        </ng-container>

        <ng-container *ngIf="col.columnId==='Status'">
          <mat-icon [ngClass]="dataArray[col.propertyName]==='pending'?'icon-pending':'icon-accepted'"
            (click)="toggleStatus(i)">whatshot
          </mat-icon>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnIds; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnIds" class="item-row" (click)="expandTeam = row"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[7]">
  </mat-paginator>
</section>

<ng-template #tpl>

</ng-template>