<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <shared-card-page [option]="status">
    <ng-template #messagesBtnTemplate let-i=index>
      <ion-button shape="round" fill="outline" (click)="sendMessage(i)" matTooltip="Send Message"
        matTooltipPosition="before">
        <ion-icon name="mail-outline">
        </ion-icon>
      </ion-button>
    </ng-template>
    <ng-template #profileBtnTemplate let-i=index>
      <ion-button shape="round" fill="outline" (click)="navigateProfile(i)" matTooltip="View Profile"
        matTooltipPosition="after">
        <ion-icon name="reader-outline">
        </ion-icon>
      </ion-button>
    </ng-template>
  </shared-card-page>
</ion-content>