@import "_action-button";

.people-flex-container {
    background-image: url("../../../assets/img/bg/bg-3.jpeg");
    height: 90vh;
}

@media screen and (min-width: 601px) {
    shared-card-page {
        flex-grow: 1;
    }
    h4 {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 600px) {
    shared-card-page {
        flex: 100%;
    }
    h4 {
        margin-top: 5vh;
    }
    .flex-container {
        margin-top: 0vh;
    }
}
