@import "_action-button";

.people-flex-container {
    // width: 100vw;
    // height: 90vh;
    // background-size: cover;
    // background-image: url("../../../assets/img/bg/bg-3.jpeg");
}
shared-card-page {
    margin: 0 0 10vh;
}
@media screen and (min-width: 601px) {
    shared-card-page {
        flex-grow: 1;
    }
    h4 {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 600px) {
    shared-card-page {
        flex: 100%;
    }
    h4 {
        margin-top: 10vh;
    }
    .flex-container {
        margin-top: 0vh;
    }
    .people-flex-container {
        height: 200vh;
        background-size: auto;
        background-repeat: repeat-y;
    }
}
