ion-list {
  position: absolute;
  top: 5vh;
  width: 100vw;
}

ion-label,
ion-item,
ion-button {
  margin: 0 auto;
}
ion-label,
ion-item {
  width: 100%;
}
ion-badge {
  width: 20px;
}

ion-card-header {
  height: 100%;
}

ion-card {
  width: 350px;
}

h2,
h5,
ion-label {
  width: 100px;
}
ion-badge {
  width: 35px;
}

ion-title {
  color: white;
}
