h3 {
  text-align: center;
}

ion-content {
  height: 90vh;
}

@media screen and (min-width: 601px) {
  shared-card-page {
    flex-grow: 1;
  }
}

@media screen and (max-width: 600px) {
  shared-card-page {
    flex: 100%;
  }
}
