<ion-header>
  <mat-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button><i class="fas fa-bars"></i></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-padding">Dating App</ion-title>
  </mat-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="inbox-flex-container" fxLayout="row wrap" fxLayoutAlign.lt-sm="center">
    <h4>Inbox</h4>
    <div class="flex-container" fxLayout="row wrap" fxLayoutAlign.gt-xs="start start" fxLayoutAlign.lt-sm="start">

      <shared-card-page *ngFor="let user of userStateService.inboxUsers$ | async; trackBy: usersTrackFn" [user]="user"
        [option]="status">
        <ng-template #messagesBtnTemplate let-i=index>
          <a class="oval" (click)="navigateMessages(user.email, user.displayName)" matTooltip="View Messages"
            matTooltipPosition="below">
            <i class="fa fa-inbox fa-2x" aria-hidden="true"></i>
          </a>
        </ng-template>
        <ng-template #profileBtnTemplate let-i=index>
          <a class="oval" (click)="navigateProfile(user.email)" matTooltip="View Profile" matTooltipPosition="below">
            <i class="fas fa-user-friends fa-2x"></i>
          </a>
        </ng-template>
        <ng-template #proposalBtnTemplate let-i=index>
          <a class="oval" (click)="submitProposal(user.displayName, user.email)" matTooltip="Submit Proposal"
            matTooltipPosition="below">
            <i class="fas fa-lightbulb fa-2x"></i> </a>
        </ng-template>
      </shared-card-page>
    </div>
  </div>
</ion-content>