@import "_action-button";

h3 {
  text-align: center;
}

ion-content {
  height: 90vh;
}

.inbox-flex-container {
  background-image: url("../../../assets/img/bg/bg-2.jpg");
  width: 100vw;
  height: 90vh;
  background-size: cover;
}

@media screen and (min-width: 601px) {
  shared-card-page {
    flex-grow: 1;
  }
  h4 {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 600px) {
  shared-card-page {
    flex: 100%;
  }
  h4 {
    margin-top: 2vh;
  }
  .inbox-flex-container {
    height: 200vh;
    background-size: auto;
    background-repeat: repeat-y;
  }
}
