@import "_text-margin";

mat-tab-group {
  position: absolute;
  top: 5vh;
  width: 100%;
}

#profile-description {
  position: fixed;
  top: 50vh;
}

ion-title {
  color: black;
}

ion-text {
  width: 100%;
}
ion-toolbar {
  height: 3rem;
}
ion-back-button {
  color: white;
}
div.modal-wrapper {
  height: 1000px !important;
}

#other-profile-flex {
  min-height: fit-content;
}

#profile-pic {
  width: 250px;
  margin: 0 auto;
}
