@import "_text-margin";
mat-tab-group {
  position: absolute;
  top: 5vh;
  width: 100%;
}

#profile-description {
  position: fixed;
  top: 50vh;
}

ion-title {
  color: black;
}

ion-text {
  width: 100%;
}
ion-toolbar {
  height: 3rem;
}
ion-back-button {
  color: white;
}

ion-header {
  box-shadow: none;
}
toolbar,
.navbar {
  border: 0;
}

#other-profile-flex {
  min-height: fit-content;
  position: absolute;
  width: 100%;
  left: 0;
  top: 5vh;
}

#profile-pic {
  width: 250px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #other-profile-flex {
    top: 15vh;
  }
}
