<ng-container *ngIf="user.email!==authService.authState.email">
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-card class=" speaker-card">
      <ion-card-header>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <ion-avatar slot="start">
            <img [src]="user.photoURL">
          </ion-avatar>
          <span>
            <ion-card-subtitle>{{user.title}}</ion-card-subtitle>
            <ion-card-title>{{user.displayName}}</ion-card-title>
          </span>
          <ng-container *ngIf="option==='inbox'">
            <ion-badge matTooltip="Number of messages" matTooltipPosition="after" slot="end">{{user.messageCount}}
            </ion-badge>
          </ng-container>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <ng-container [ngTemplateOutlet]=" optionTemplateRef">
          </ng-container>
          <ng-container [ngTemplateOutlet]=" optionTemplateRef2">
          </ng-container>
          <ng-container [ngTemplateOutlet]=" optionTemplateRef3">
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ng-container>