<!-- <ng-container *ngIf="this.pendingProposals.length > 0"> -->
<base-table [columnObjects]="PEND_PROPOSAL_COL_OBJ" [colDisplay]="PEND_PROPOSAL_DISPLAY"
  [dataArray]="this.pendingProposals">
  <ng-template #buttonTemplate let-i=index>
    <mat-icon id="accept-icon" (click)="acceptProposal(i)" matTooltip="Accept Proposal" matTooltipPosition="before">
      check_box
    </mat-icon>
  </ng-template>
  <ng-template #buttonTemplate2 let-i=index>
    <mat-icon id="reject-icon" (click)="rejectProposal(i)" matTooltip="Reject Proposal" matTooltipPosition="after">
      indeterminate_check_box
    </mat-icon>
  </ng-template>
</base-table>
<!-- </ng-container> -->