/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";

/* TODO remove once fixed in framework */
.ios .header-collapse-condense ion-toolbar {
  --background: var(--ion-background-color, #fff);
}

h3 {
  font-family: "Merriweather", serif;
}

h4 {
  font-size: 2rem;
  font-family: "Satisfy", cursive;
  text-align: center;
  font-weight: 100;
}
ion-title.title-padding {
  padding-right: 6.5vw;
}
ion-title {
  color: whitesmoke;
  top: 0;
  text-align: center;
  position: absolute;
  box-sizing: border-box !important;
  height: 100% !important;
  transform: none !important;
  width: 100% !important;
}

.toolbar-title {
  text-align: center;
}

ion-item,
i {
  cursor: pointer;
}

ion-menu-button {
  color: whitesmoke;
}

img.all-images {
  max-width: initial;
  width: 100px;
  height: 100px;
  border-radius: 0;
  border: 1px black solid;
}

.profile-modal {
  height: 100%;
}

.center-alert .alert-wrapper {
  .alert-title {
    text-align: center;
  }
  .alert-sub-title {
    text-align: center;
  }

  .alert-message {
    text-align: center;
  }

  .alert-button-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  button {
    margin: 0 auto;
  }
}
.picModal div.modal-wrapper {
  height: 620px;
}

.profileModal div.modal-wrapper {
  height: 1000px;
}

.globalAlert {
  .alert-title {
    text-align: center;
  }
  .alert-sub-title {
    text-align: center;
  }

  .alert-message {
    text-align: center;
  }

  .alert-button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.flex-container {
  height: 70vh;
  width: 100vw;
}

ion-title.title-padding {
  color: whitesmoke;
}

ion-menu-button {
  color: whitesmoke;
}

ion-button {
  color: aqua !important;
}

@media screen and (max-width: 600px) {
  ion-title.title-padding {
    padding-right: 25vw;
  }
}
